* {
    margin: 0;
}

.container {
    height: 100vh;
    background-color: #272727;
}

.clicker:focus + .hiddendiv{
    display:block;
}

i {
    font-size: 50px;
    color: aliceblue;
}

.clicker {
    position: absolute;
    right: 20px;
    top: 20px;
    height: 50px;
    width: 50px;
}

.clicker:focus {
    animation-name: rotate;
    animation-duration: 1s;
}

.hiddendiv{
    position: absolute;
    display:none;
    height: 800px;
    width: 800px;
    right: 570px;
    top: 100px;
    animation-name: blokas;
    animation-duration: 1s;
}

.pavadinimai {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 70px;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 30px;
}

a:hover {
    color: orange;
    animation-name: spalva;
    animation-duration: 0.7s;
    font-size: 40px;
}

@keyframes blokas {
    0% {
        position: absolute;
        right: 0px;
        top: 100px;
    }
    100% {
        position: absolute;
        right: 570px;
        top: 100px;
    }
}
    
@keyframes rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
}

@keyframes spalva {
    0% {
      color: #fff;
    }
    100% {
      color: orange;
    }
}
